<div class="col-sm-8 blog-main">

  <h2>
    <%= @blog.title %>
    <%= link_to 'Edit', edit_blog_path(@blog), class: "btn btn-sm btn-primary" if logged_in?(:site_admin) %>
  </h2>

  <%= @blog.body %>

  <hr>

  <% unless current_user.is_a? GuestUser %>
    <%= render 'comments/comment_form' %>
  <% end %>

  <% if @blog.comments.any? %>
    <%= render @blog.comments %>
  <% end %>
</div>
